/* 3d Product viewer styles */

.waiting_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #888;
  opacity: 0.9;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.d_none {
  display: none;
}

.text_center {
  color: #fff;
}



.canvas_cont {
  width: 52%;
  float: left;
  height: 460px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}


/* panel */

.btn_panel {
  width: 100%;
  min-height: 80px;
  background: #444455;
  opacity: 0.9;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.input_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 8px;
}

.input_cont label {
  font-size: 17px;
  margin: auto 6px;
}

.text_input {
  width: 180px;
  height: 36px;
  margin: 4px 6px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  min-width: 100px;
  background: #D64161;
  border-radius: 5px;
  margin: 4px 6px;
}

.btn:hover {
  background: #E95676;
}

.select {
  min-width: 80px;
  margin: 4px 12px;
}

#select_txColor {
  margin-left: 0;
}


@media (max-width: 900px) {
  .canvas_cont {
    width: 100%;
  }
}


/*  Hide tshirt custom field */
.tshirt_d_none {
  display: none;
}



/*  Canvas 2d prod viewer */
.canvas {
  border: none;
}



/*  Hide extra product text field */
.thwepo-extra-options {
  display: none;
}
